# Note 01. Python Basic
<br>
## Topics
* Data types
    * Numbers
    * Strings
    * Format
    * Lists
    * Dictionaries
    * Booleans
    * Tuples
    * Sets
* Comparison Operators
* If, elif, else statements
* Loops
    * for
    * while
* Range
* List comprehension
* Functinos
* Lambda expressions
* Map and Filter
* Methods

---
## Data types
### Numbers

In [10]:
print(1+1," / ",1-2," / ",2*3," / ",2**4," / ", 1/2, " / ",5%2, " / ", 9//2, " / ", (2+3)*(5+5))

2  /  -1  /  6  /  16  /  0.5  /  1  /  4  /  50

### Strings

In [1]:
'single quote', "double quotes"

('single quote', 'double quotes')

In [14]:
'He said "This is true"' # 문장 속 큰따옴표 필요시 작은 따옴표로 string 표시
"He's fault" # 문장 속 작은 따옴표 필요 시 큰 따옴표로 string 표시

"He's fault"

### Format

In [15]:
num = 12
name= 'Sam'

In [16]:
print('My number is: {one}, and my name is: {two}'.format(one=num, two=name))

My number is: 12, and my name is: Sam

In [18]:
print('My number is: {}, and my name is: {}'.format(num, name))
# 중괄호 속을 변수로 명시 안하면 순서대로

My number is: 12, and my name is: Sam

### Lists

In [20]:
print([1,2,3])
print(['hi',1,[2,3]])

[1, 2, 3]
['hi', 1, [2, 3]]

    중괄호로 표기.
    리스트 속에 다양한 데이터 추가 가능

* append

In [24]:
my_list= ['a','b','c']
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

* indexing

In [25]:
my_list[0]

'a'

In [26]:
my_list[2]

'c'

In [27]:
my_list[1:]

['b', 'c', 'd']

In [28]:
my_list[:2]

['a', 'b']

* replacing

In [30]:
my_list[0] = "New"
my_list

['New', 'b', 'c', 'd']

* Indexing

In [31]:
nest = [1,2,3,[4,5,['target']]]
nest[3]

[4, 5, ['target']]

In [32]:
nest[3][2]

['target']

In [33]:
nest[3][2][0]

'target'

### Dictionaries

In [34]:
d = {'key1': 'item1' ,'key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [36]:
d['key1']

'item1'

### Boolean

In [37]:
True

True

In [38]:
False

False

### Tuples

In [41]:
t=(1,2,3)

In [42]:
t[0]

1

In [43]:
t[0]="New"

TypeError: 'tuple' object does not support item assignment

### Sets

In [44]:
{1,2,3}

{1, 2, 3}

In [45]:
{1,2,3,2,2,1,2,1,2,1,2,3,3,3,3,3,3}

{1, 2, 3}

## If, elif, else statements

In [46]:
if 1 < 2:
    print("Yep!")

Yep!

In [47]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [48]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## For loops

In [49]:
seq=[1,2,3,4,5]

In [50]:
for item in seq:
    print(item)

1
2
3
4
5

In [51]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [52]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## While Loops

In [53]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range

In [54]:
for i in range(5):
    print(i)

0
1
2
3
4

In [55]:
range(5)

range(0, 5)

In [56]:
list(range(5))

[0, 1, 2, 3, 4]

## List comprehension
* append

In [57]:
x = [1,2,3,4]

In [58]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [59]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [60]:
def my_func(param1='default'):
    """
    Docstring goes here
    """
    print(param1)

In [61]:
my_func

In [62]:
my_func()

default

In [63]:
my_func('new param')

new param

In [65]:
my_func(param1='new param')

new param

In [66]:
def square(x):
    return x**2

In [68]:
out = square(2)
print(out)

4

## Lambda expressions

In [69]:
def times2(var):
    return var*2

In [70]:
times2(2)

4

In [71]:
lambda var: var*2

## Map and Filter

In [72]:
seq=[1,2,3,4,5]

In [73]:
map(times2,seq)

In [74]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [75]:
list(map(lambda var:var*2, seq))

[2, 4, 6, 8, 10]

In [80]:
list(filter(lambda item: item%2==0, seq))

[2, 4]

## Methods
* lower
* upper
* split
* keys
* items
* pop
* in

In [81]:
st = 'hello my name is Sam'

In [82]:
st.lower()

'hello my name is sam'

In [83]:
st.upper()

'HELLO MY NAME IS SAM'

In [84]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [85]:
tweet="Go Sports! #Sports"

In [86]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [87]:
tweet.split("#")[1]

'Sports'

In [88]:
d

{'key1': 'item1', 'key2': 'item2'}

In [89]:
d.keys()

dict_keys(['key1', 'key2'])

In [91]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [92]:
lst=[1,2,3]

In [93]:
lst.pop()

3

In [94]:
lst

[1, 2]

In [95]:
'x' in [1,2,3]

False

In [96]:
'x' in ['x','y','z']

True