---

In [86]:
print('hello')

hello

In [8]:
'Shift + Enter' # 셀 실행
'Alt + Enter' # 셀 삽입
'Ctrl + s' # 저장

'Ctrl + s'

---
# Print Formatting

In [7]:
num=12
name='Sam'
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [6]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

---
# Indexing

In [10]:
s='hello'

In [11]:
s[0]

'h'

In [12]:
s[4]

'o'

---
# Slicing

In [13]:
s[0:3]

'hel'

In [14]:
s[2:]

'llo'

---
# List

In [17]:
[1,2,3]

[1, 2, 3]

In [18]:
['a','b','c']

['a', 'b', 'c']

In [19]:
my_list=['a','b','c']

In [20]:
my_list.append('d')

In [21]:
my_list

['a', 'b', 'c', 'd']

In [22]:
my_list[0]

'a'

In [23]:
my_list[0]='New'

In [24]:
my_list

['New', 'b', 'c', 'd']

In [25]:
nest=[1,2,[3,4]]

In [26]:
nest  #list 속 list

[1, 2, [3, 4]]

In [27]:
nest[2]

[3, 4]

In [28]:
nest[2][0]

3

In [30]:
nest=[1,2,3,[4,5,['target']]]

In [31]:
nest[3]

[4, 5, ['target']]

In [32]:
nest[3][2]

['target']

In [34]:
nest[3][2][0]

'target'

In [35]:
print(nest[3][2][0])

target

---
# Dictionary

In [1]:
d={'key1': 'value','key2':'123'}

In [2]:
d['key1']

'value'

In [3]:
d={'k1':[1,2,3]}

In [4]:
d['k1']

[1, 2, 3]

In [5]:
d['k1'][1]   # 딕셔너리에 리스트를 넣은 것에서 특정 값 찾기

2

In [6]:
d={'k1':{'innerkey':[1,2,3]}}

In [7]:
d['k1']['innerkey'][1]

2

Dictionanies do not retain any order, they are just key value pair mappings.

---
# Boolean

In [9]:
True

True

In [10]:
False

False

---
# Tuple and Sets

In [11]:
 my_list=[1,2,3]

In [12]:
my_list[0]

1

In [14]:
my_tuple=(1,2,3) #괄호가 다르다

In [15]:
my_tuple[0]

1

In [16]:
my_list[0]='new'

In [17]:
my_list

['new', 2, 3]

In [18]:
my_tuple[0]='new'

TypeError: 'tuple' object does not support item assignment

에러 발생 <br>
This is because tuples are immutable and they do not support item assignment.<br>
Which means you're going to want to use a tuple when you want to make sure a user can't change the items

#### Sets in Python a set is a collection of unqiue elements

In [19]:
{1,2,3}

{1, 2, 3}

In [20]:
{1,1,1,1,1,1,1,2,2,2,2,3,3,3}

{1, 2, 3}

In [21]:
set([1,1,1,1,1,2,2,2,2,5,5,6,6,6,6])

{1, 2, 5, 6}

In [22]:
 s = {1,2,3}

In [23]:
s.add(5)

In [24]:
s

{1, 2, 3, 5}

In [25]:
s.add(5)

In [26]:
s

{1, 2, 3, 5}

Set 에는 unique elements만 표시하기 때문에 5를 한 번 더 넣어도 한 번만 표시

---
# Comparison Operators

In [28]:
 1>2

False

In [29]:
1<2

True

In [30]:
1>=1

True

In [31]:
1==1

True

In [32]:
1==2

False

In [34]:
1=1 # equal sign이 한 번 들어가면 variable 지정으로 인식하고 숫자는 variable로 지정될 수 없기때문에 에러

SyntaxError: can't assign to literal (<ipython-input-34-5adaee82c405>, line 1)

In [35]:
1 !=3

True

---
# Logic Operators

In [39]:
1<2 and 2>3

False

In [38]:
1< 2 or 2>3

True

In [40]:
True and True

True

In [41]:
True or True

True

In [42]:
True and False

False

---
# Condition

In [43]:
if 1<2:
    print('yep!')

yep!

In [44]:
if True:
    x=2+2

In [45]:
x

4

In [47]:
if 1 ==2:
    print('first')
else:
    print('last')

last

In [48]:
if 1 !=2:
    print('first')
else:
    print('last')

first

In [49]:
if 1 == 2:
    print('fisrt')
elif 3==3:
    print('middle')
else:
    print('last')

middle

In [51]:
if 1 == 2:
    print('fisrt')
elif 4==4:
    print('second')
elif 3==3:
    print('middle')
else:
    print('last')

second

---
# for loops

In [52]:
seq=[1,2,3,4,5]

In [53]:
for item in seq:
    print(item+1)

2
3
4
5
6

In [54]:
for jelly in seq:
    print(jelly) #item이나 jelly처럼 아무거나 넣어도 됨

1
2
3
4
5

In [55]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

In [56]:
i=1
while i <5:
    print('i is: {}'.format(i)) # 여기서 돌리면 무한 루프
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

---
# range

In [57]:
for x in seq:
    print(x)

1
2
3
4
5

#### A range function is going to be a generator of numerical values.

In [59]:
range(0,5)

range(0, 5)

In [60]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [61]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [62]:
 list(range(10))  #by default the staring number is zero

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---
# List Comprehension

In [63]:
x = [1,2,3,4]

In [64]:
out=[]

In [65]:
for num in x:
    out.append(num**2)

In [66]:
print(out)

[1, 4, 9, 16]

위에 작업을 한 줄로 줄여보자

In [68]:
out = [num**2 for num in x]

In [69]:
out

[1, 4, 9, 16]

---
# Function

In [71]:
def my_func(name):
    print('Hello  '+name)

In [74]:
my_func('Jose')

HelloJose

In [75]:
def my_func(name = 'Default Name'):
    print('Hello  '+name)

In [76]:
my_func('Jose')

Hello  Jose

In [77]:
my_func() # 위에서 default name을 할당해놔서 특별한 값이 없을 때는 default

Hello  Default Name

In [81]:
def square(num):
    return num**2    
# it won't just print out the result the square of that number and you can use the keyword return

In [79]:
output =square(2)

In [80]:
output

4

This is the difference between printing something and returning something. <br>
Printing 하면 어디에도 restoring 안되는 반면 return은 값을 기억함

In [84]:
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

주피터 노트북에서는 Shift + Tab을 누르면 함수에 대한 설명을 찾을 수 있다.

---
# Map function

In [1]:
seq=[1,2,3,4,5]

In [2]:
def times2(var):
    return var*2

In [3]:
times2(5)

10

In [4]:
map(times2,seq)

In [5]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

---
# Lambda Expression

항상 함수를 정의해서 쓰긴 힘드므로 Lambda expression이 쓰인다<br>

In [9]:
t= lambda var:var*2

In [10]:
t(2)

4

In [12]:
list(map(lambda a: a*3, seq))

[3, 6, 9, 12, 15]

Pandas 라이브러리 쓸 때 자주 사용된다.<br>
The reason for this is because you usually don't want to have to write and define an entire function

---
# Filter

In [20]:
list(filter(lambda bbb: bbb%2 == 0, seq))

[2, 4]

---

In [16]:
s='Hello My name is Sam'

In [23]:
s.lower()
# 모두 소문자로

'hello my name is sam'

In [24]:
s.upper()
#모두 대문자로

'HELLO MY NAME IS SAM'

In [25]:
s.split() # 구분

['Hello', 'My', 'name', 'is', 'Sam']

In [21]:
tweet = 'Go Sports! #Sports'

In [26]:
tweet.split('#') #구분자 지정도 가능

['Go Sports! ', 'Sports']

In [33]:
tweet.split('#')[1]

'Sports'

---
#### dictionary 에서 쓸만한 것들

In [29]:
d={'k1':1, 'k2':2}

In [30]:
d.keys()

dict_keys(['k1', 'k2'])

In [31]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [32]:
d.values()

dict_values([1, 2])

In [52]:
lst=[1,2,3]

In [53]:
lst.pop() #list의 마지막 항목을 나오게함 like a queue system

3

In [54]:
lst.pop() #pop 한번 더하면 남겨진 것중에 마지막 항목이 나옴

2

In [55]:
lst

[1]

In [56]:
lst2=[1,2,3,4,5]

In [57]:
item=lst2.pop()

In [58]:
lst2

[1, 2, 3, 4]

In [59]:
item

5

In [60]:
first = lst2.pop(0)

In [61]:
first

1

In [62]:
lst2

[2, 3, 4]

In [63]:
lst2.append('new')

In [64]:
lst2

[2, 3, 4, 'new']

In [65]:
'x' in [1,2,3]

False

In [66]:
'1' in [1,2,3]

False

In [67]:
1 in [1,2,3]

True

---
# Tuple Unpacking

In [68]:
x = [(1,2),(3,4),(5,6)]

In [69]:
x[0]

(1, 2)

In [70]:
x[0][1]

2

In [71]:
for ccc in x:
    print(ccc)

(1, 2)
(3, 4)
(5, 6)

In [73]:
for (a,b) in x:
    print(a)

1
3
5

In [74]:
for (a,b) in x:
    print(b)

2
4
6

In [78]:
 for a,b in x:
        print(a)
        print(b)

1
2
3
4
5
6